# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Models
*.pt

# Specific YOLO folders
head_detection/runs/

# Specific OpenPose folders
pose_detection/bin/
pose_detection/lib/
pose_detection/models/
pose_detection/include/

# BR only code specific to Tom's work
synchrony_analysis/cross_correlations/run_model1_json.py
synchrony_analysis/frame_check_only_json.py
