# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Models
*.pt

# Specific YOLO folders
1_HeadDetection/runs/

# Specific OpenPose folders
2_PoseDetection/bin/
2_PoseDetection/lib/
2_PoseDetection/models/
2_PoseDetection/include/

# BR only code specific to Tom's work
# 3.0_CombineHeadPose/model1_qualcheck_temp.py
# 3.1_Model1_CrossCorr/run_model1_BR.py
