# Usage: Python 3.7.16 only - pip install -r requirements.txt

# For Face_Detection with yolov7 (editted from original v7 requirements):

# Pytorch1.13.1 with Cuda11.7
# Pytorch2.0 not supported with Python3.7 on Windows
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1+cu117
torchvision==0.14.1+cu117

# Base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.18.5,<1.24.0
opencv-python>=4.1.1
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
tqdm>=4.41.0

# Logging -------------------------------------
tensorboard>=2.4.1

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Extras --------------------------------------
ipython  # interactive notebook
psutil  # system utilization
thop  # FLOPs computation
mmcv==1.3.1


# For Pose Detection:
opencv-python
pygame
scipy
pykalman
tensorflow
numba
chardet


# for 2_z_per_frame_id__use_yolo_face
filterpy

# for MdRQA analysis
# multiSyncPy # for python version
matlabengine # for matlab version

# graph networks
xlsxwriter
igraph
openpyxl
pyinform



